<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Product App</title>
  </head>
  <body>
    <!-- v-bind:src="" because v-bind is used so much... 
					can be used as 
					:src="image"
					:alt="description"
					:href="url"
					:class="toolTip"
					:style="isActive"
					:disabled="isDisabled"
				-->
    <div class="nav-bar"></div>

    <div id="app">
      <div class="product">
				
				<div class="product-image">
          <img :src="image" alt="a pair of socks"/>
        </div>

        <div class="product-info">
					<h1>{{ product }}</h1>
					<p v-if="inventory >= 10">In Stock</p>
					<p v-else-if="inventory > 0">Almost sold out!</p>
					<p v-else>Out of Stock</p>

<!-- 
					<span v-show="onSale">Sale!</span>
-->
					<ul>
						<li v-for="detail in details">{{ detail }}</li>
					</ul>

					<div v-for="variant in variants" :key="variant.variantId">
						<p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
					</div>

					<ul>
						<li v-for="size in sizes">{{ size }}</li>
					</ul>
					<!-- vid 5 (1:00) -->
					<button v-on:click="addToCart">Add to Cart</button>

					<div class="cart">
						<p>Cart({{cart}})</p>
					</div>

				</div>
				
      </div>
    </div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- change for each lesson -->
    <script src="js/event-handling.js"></script>
  </body>
</html>
